body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-top: 20px;
    font-size: 36px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.address {
    margin-top: 30px;
    font-size: 18px;
}

/* Özgeçmiş sayfası stil özellikleri */
    
  p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
  }
  
  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin: 10px 0;
  }
  
  .date {
    font-weight: bold;
  }
  
  